html {
  height: 100vh;
}

body {
  height: 500vh;
  background: #fff;
   margin: 0;
   padding: 0;
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: Auto;
 
  
}

@media screen and (max-width: 600px) {
.responsive  {
padding: 0px 0px;
display: block;
margin: 0px 0px;
}
}

::-webkit-scrollbar {
  display: none;

