html {
  height: 100vh;
}

body {
  height: 500vh;
  background: #ffffff;
   margin: 0;
   padding: 0;
}

canvas {
  position: fixed;
  top:50%
  left:50%
  transform: translate(-50%, -50%);
  
 
  
}

@media screen and (max-width: 600px) {
.responsive  {
padding: 0px 0px;
display: block;
margin: 0px 0px;


}
}

::-webkit-scrollbar {
  display: none;
